.banner {
  background-color: #f8f9fa;
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.ctaButtons {
  display: flex;
  justify-content: center;
}

.learnMoreButton,
.loginButton,
.profileButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.learnMoreButton:hover,
.loginButton:hover,
.profileButton:hover {
  background-color: #0056b3;
}

.loginButton {
  background-color: #fff;
  color: #007bff;
}